<% form_for([@revision.block, @revision]) do |f| %>
  <%= f.error_messages %>

  <% field_set_tag 'Editing your blockie' do %>
    <label>
      Language :
      <strong><%= @revision.block.language.name %></strong>
    </label>

    <label>Anonymous code snippet (a.k.a. "blockie")</label>
    <%= f.text_area :snippet %><br />    
  <% end %>

  <p>
    &larr; <%= link_to_function 'Go Back', "history.back()" %>,
    <%= f.submit 'Update' %>
  </p>
<% end %>
