<% form_for(@block) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Editing your blockie</legend>

    <label>Anonymous code snippet (a.k.a. "blockie")</label>
    <%= f.text_area :snippet %><br />

    <label>Mark as private</label>
    <%= f.check_box :is_private %><br />
  </fieldset>
  <p>
    &larr; <%= link_to 'Cancel', blocks_path %>,
    <%= f.submit 'Update' %> or 
    <%= link_to 'Destroy', @block, :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>
