<% form_for(@block) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Editing your blockie</legend>

    <label>Anonymous code snippet (a.k.a. "blockie")</label>
    <%= f.text_area :snippet %><br />

    <label>Mark as private</label>
    <%= f.check_box :is_private %><br />
  </fieldset>
  <p>
    <%= f.submit 'Update' %>, <%= link_to 'Show', @block %> or <%= link_to 'Cancel', blocks_path %>
  </p>
<% end %>
