<% if @blocks.blank? %>
  <p class="notice">There are no blockies yet.</p>
<% else %>
  <table id="hor-minimalist-b">
    <% @blocks.each do |block| %>
      <tr>
        <td><pre><%= h truncate(block.snippet,:length => 20) %></pre></td>
        <td>
          <%= 'This snippet is private.' if block.is_private %>
        </td>
        <td>
          <%= link_to 'Show', block %>
          <%= 'or ' + link_to('Edit', edit_block_path(block)) if block.signature == cookies[:signature] %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<p class="add"><%= link_to 'Create a new blockie', new_block_path %></p>
