<% if @blocks.blank? %>
  <p class="notice">There are no code snippets yet.</p>
<% else %>

<p class="add"><%= link_to 'Create a new snippet', new_block_path %></p>

  <table id="hor-minimalist-b">
    <% @blocks.each do |block| %>
      <tr>
        <td><pre><%= h truncate(block.latest_revision.snippet,:length => 20) %></pre></td>
        <td>
          <%= 'This snippet is private.' if block.is_private %>
        </td>
        <td>
          <%= link_to 'Show', block_revision_path(block, block.latest_revision) %>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="flickr_pagination">    
    <p><%= will_paginate @blocks, :prev_label => '&larr;', :next_label => '&rarr;' %></p>
  </div>
<% end %>
