<% form_for @block do |f| %>
  <%= error_messages_for :revision %>
  
  <% field_set_tag 'Create a new blockie' do %>
    <label>Language</label>
    <%= f.collection_select :language_id, Language.find(:all, :order => 'name'), :id, :name %>
    
    <label>Anonymous code snippet (a.k.a. "blockie")</label>
    <% f.fields_for :revisions do |r| %>
      <%= r.text_area :snippet %><br />
    <% end %>

    <label>Mark as private</label>
    <%= f.check_box :is_private %><br />
  <% end %>
  
  <p>
    &larr; <%= link_to 'Go Back', blocks_path %> or <%= f.submit 'Create' %>
  </p>
<% end %>
