<% form_for @block do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Create a new blockie</legend>
    <%= f.hidden_field :signature, :value => cookies[:signature] %>
    
    <label>Anonymous code snippet (a.k.a. "blockie")</label>
    <% f.fields_for :revisions do |r| %>
      <%= r.text_area :snippet %><br />
    <% end %>

    <label>Mark as private</label>
    <%= f.check_box :is_private %><br />
  </fieldset>
  <p>
    &larr; <%= link_to 'Go Back', blocks_path %> or <%= f.submit 'Create' %>
  </p>
<% end %>
