<% form_for(@block) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Create a new blockie</legend>
    
    <label>Anonymous code snippet (a.k.a. "blockie")</label>
    <%= f.text_area :snippet %><br />

    <label>Mark as private</label>
    <%= f.check_box :private %><br />
  </fieldset>
  <p>
    <%= f.submit 'Create' %> or <%= link_to 'Cancel', blocks_path %>
  </p>
<% end %>
