<p>
  Language: <strong><%= @block.language.name %></strong>
</p>

<% unless @block.latest_revision.snippet.blank? %>
  <p>
    <br /><pre><%= h @block.latest_revision.snippet %></pre>
  </p>
<% end %>

<% if @block.is_private %>
  <p>
    This code snippet is marked as <strong>private</strong>.
  </p>
<% end %>

<% unless @block.revisions.empty? || @block.revisions.size == 1 %>
  <p><br />Previous revisions of this snippet:</p>
  <ul>
    <% @block.revisions.each do |revision| %>
      <li><%= link_to_unless_current revision.created_at, block_revision_path(@block, revision) %></li>
    <% end %>
  </ul>
<% end %>

<p>
  &larr; <%= link_to 'Go Back', blocks_path %>  
  <%= 'or ' + link_to('Edit', edit_block_revision_path(@block,@block.latest_revision)) if @block.signature == cookies[:signature] %> 
</p>
